<h1>게시판</h1><br>
<h3>작성하기</h3>
<form action="/create" method="POST">
    제목 : <input type="text" name="input_post_title" value="무제"><br>
    작성자 : <input type="text" name="input_post_editor" value="익명"><br>
    내용 : <input type="text" name="input_post_content" placeholder="내용을 입력해주세요"><br>
    <input type = "submit" value="저장"><br>
    <hr>
</form>