
<form action="/create" method="GET">
    <button href="/new">New</button>
</form>

<div class= "container">
    <h3>게시글 목록</h3>
    <% @posts.each do |p| %>
    제  목: <a href="/show/<%=p.id%>"><%=p.title %></a><br>
    글쓴이: <%=p.editor %><br>
    <% end %>
</div>